.your-infinite-storybook-component(fxLayout='row')
    div
        your-infinite-storybook-story-feature-story-grid(
            (storyGridClick)='navigate($event)'
        )
    div
        router-outlet
