ng-container(*ngIf='{ query: query$ | async } as result')
    your-infinite-storybook-user-ui-user-create-button(
        [userId]='userId',
        [user]='user',
        [placeholder]='placeholder',
        [loading]='loading'
    )
        ng-content
