.your-infinite-storybook-component(fxLayout='row')
    div
        your-infinite-storybook-message-feature-message-grid(
            (messageGridClick)='navigate($event)'
        )
    div
        router-outlet
