ng-container(*ngIf='{ query: query$ | async } as result')
    your-infinite-storybook-message-ui-message-create-button(
        [messageId]='messageId',
        [message]='message',
        [placeholder]='placeholder',
        [loading]='loading'
    )
        ng-content
