<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <h1>Your Infinite Storybook</h1>

    <!--        <mat-toolbar-row>-->
    <!--            <h1>Entity libs template</h1>-->

    <!--            <div style="margin-left: 10px;">Location: </div>-->
    <!--            <mat-chip-listbox selectable="false">-->
    <!--                <mat-chip-option>libs</mat-chip-option>-->
    <!--                <mat-chip-option>%entity_name%</mat-chip-option>-->
    <!--            </mat-chip-listbox>-->
    <!--        </mat-toolbar-row>-->
</mat-toolbar>

<router-outlet></router-outlet>
