.your-infinite-storybook-component(fxLayout='row')
    div
        your-infinite-storybook-user-feature-user-list(
            (userListClick)='navigate($event)'
        )
    div
        router-outlet
