ng-container(*ngIf='query$ | async as result')
    your-infinite-storybook-message-ui-message-view-card(
        [message]='message',
        [loading]='loading'
    )
        ng-content(select='[header-button]', header-button)

    ng-content
