ng-container(
    *ngIf=`{
        searchMessagesQuery: searchMessagesQuery$ | async,
        getMessageQuery: getMessageQuery$ | async
    } as res`
)
    your-infinite-storybook-message-ui-message-form-field-select(
        [selectedMessage]='selectedMessage',
        (messageSelected)='onMessageSelected($event)',
        [foundMessages]='foundMessages',
        (messageSearched)='onMessageSearch($event)',
        [loading]='loading || searchLoading',
        [placeholder]='placeholder'
    )
