ng-container
    div(*ngFor='let message of messages')
        your-infinite-storybook-message-ui-message-table-cell(
            [message]='message',
            (messageTableCellClick)='onMessageTableClick($event)'
        )
