ng-container
    div(*ngFor='let story of stories')
        your-infinite-storybook-story-ui-story-grid-item(
            [story]='story',
            (storyGridItemClick)='onStoryGridClick($event)'
        )
