.your-infinite-storybook-component(fxLayout='row')
    div
        your-infinite-storybook-user-feature-user-grid(
            (userGridClick)='navigate($event)'
        )
    div
        router-outlet
