.your-infinite-storybook-component(fxLayout='row')
    div
        your-infinite-storybook-story-feature-story-table(
            (storyTableClick)='navigate($event)'
        )
    div
        router-outlet
